# .gitignore 文件内容示例

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# 编辑器相关
.idea/
.vscode/
*.swp
*.swo

# 数据库文件
*.sqlite3
*.db

# 日志文件
*.log

# 环境变量文件
.en
.secrets

# 静态文件和媒体文件（如果是Web项目）
staticfiles/
media/